body {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;

  max-width: 1440px;
  margin: auto;
  position: relative;
}

h1 {
  font-family: "Spectral";
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-family: "Spectral";
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-family: "Spectral";
  font-size: 28px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  font-weight: normal;
}

h5 {
  font-weight: 600;
  font-size: 18px;
}

/* Header Section */
/*                */
/*                */
.header-container {
  position: fixed;
  width: 100%;
  height: 96px;

  z-index: 100;
  left: 0;
  top: 0;

  background: #ffffff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

.logo {
  position: absolute;
  left: 152px;
  top: 26px;
  width: 126px;
  height: 43px;
}

.rsvp {
  position: absolute;
  right: 152px;
  top: 28px;
  width: 174px;
  height: 44px;

  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;

  font-family: Open Sans;
  font-size: 20px;
}

/*  Body Section  */
/*                */
/*                */
.upper-container {
  position: relative;
  height: 1300px;
}

.upper-bg {
  position: absolute;
  width: 62%;
  height: 571.28px;
  z-index: 1;
  left: 0;
  top: 0;
}

.upper-img {
  position: absolute;
  width: 49.3%;
  z-index: 2;
  left: 5.9%;
  top: 166px;
}

.dots-header-img {
  position: relative;
  width: 66px;
  height: 114px;
  left: 5%;
  top: 0;
}

.header-img-bg {
  position: absolute;
  width: 114px;
  height: 66px;
  right: 9%;
  top: 190px;
}

.upper-text {
  position: absolute;
  z-index: 3;
  right: 10.6%;
  top: 229px;

  width: 37.3%;
  padding: 50px;
  background: #ffffff;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.upper-text h1 {
  color: #273661;

  margin-bottom: 20px;
}

.upper-text h4 {
  color: #303030;
}

.lower-bg {
  position: absolute;
  width: 42%;
  height: 660px;
  z-index: 1;
  right: 0;
  top: 574px;
}

.lower-img {
  position: absolute;
  width: 31.8%;
  z-index: 2;
  right: 12.6%;
  top: 793px;
}

.lower-header {
  position: absolute;
  width: 31.8%;
  left: 12.7%;
  top: 811px;
  color: #273661;
}

.lower-icon {
  position: absolute;
  width: 18.2%;
  left: 11.6%;
  top: 863px;
}

.lower-text {
  position: absolute;
  width: 30.5%;
  left: 12.7%;
  top: 934px;
}

/*               */
/* Video Section */
/*               */
.video-section {
  position: relative;
  top: 0px;
  left: 10.6%;
  width: 78.9%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*                    */
/* Activities Banner  */
/*                    */
.activities-container {
  position: relative;
  width: 1440px;
  height: 384px;
  top: 25px;
  background-color: #effaff;
  padding: 50px;
}

.activities-container h3 {
  margin-bottom: 50px;
  color: #273661;
  text-align: center;
}

.activities-container h4 {
  margin-top: 25px;
  text-align: center;
}
